---
layout: default
title: Blog
permalink: /Blog/
type: website
headertype: Blog
tags: Blog, Dev Blog, Game Developer
desc: The blog of Nazaire Shabazz, an indie game developer. Take a peek!
---

<section class="content" id="blog">
    <section>
    {% for post in site.categories.blogpost %}
        <a class="linkbox" href="{{post.url}}">
            <article>
                {% if post.image %}<img alt="{{post.title}}" src="/{{post.image}}"/>{% endif %}
                <figcaption>
                    <h2>{{post.title}}</h2>
                </figcaption>
            </article>
        </a>
    {% endfor %}
    </section>
</section>
