---
layout: default
title: Game Developer
type: website
headertype: Home
tags: Game Developer, Portfolio
desc: The personal portfolio of Nazaire Shabazz. He's a game developer and graphic artist
---

<section class="content" id="homepage">
    <p>
        Hey, I'm Nazaire Shabazz! I do gamedev stuff, but I also enjoy web developement and just programming in general.
        Currently working on <a href="/">Square Up</a> and my own <a href="/">Java chat client</a>.
    </p>
    <p>
        Check out <a href="/Projects/">my portfolio</a> for more!
    </p>

    <section>
    {% for post in site.categories.project %}
        {% if post.status contains "current" %}
        <a class="linkbox" href="{{post.url}}">
            <article>
            {% if post.image %}
                <img alt="{{post.title}}" src="/{{post.image}}"/>
            {% endif %}
                <figcaption>
                    <h2>{{post.title}}</h2>
                </figcaption>
            </article>
        </a>
        {% endif %}
    {% endfor %}
    </section>
</section>