---
layout: default
title: Projects
permalink: /Projects/
type: website
headertype: Projects
tags: Games, Indie Games, Game Development, Portfolio
desc: These projects are made with luv by Nazaire
---

<section class="content" id="projects">
    <section>
    {% for post in site.categories.project %}
        <a class="linkbox" {% if post.haspage %}href="{{post.url}}"{% endif %}>
            <article>
            {% if post.image %}
                <img alt="{{post.title}}" src="/{{post.image}}"/>
            {% endif %}
                <figcaption>
                    <h2>{{post.title}}</h2>
                </figcaption>
            </article>
        </a>
    {% endfor %}
    </section>
</section>