---
layout: default
title: Projects
permalink: /Projects/
type: website
tags: Games, Indie Games, Game Development, Portfolio
desc: These projects are made with luv by Nazaire
---

<section class="checkMe" id="Projects">
    
    <section class="content card">

        <h1>Projects</h1>

        <hr />
        

        {% for post in site.categories.project %}

            {% if forloop.index0 == 0 %}

            <figure class="card featured-item">

                <p>Latest Project:</p>
                <img alt="{{post.title}}" src="/{{ post.image }}" />
                <figcaption>

                    <h2><a class="theLink" href="{{ post.url }}">{{ post.title }}</a></h2>

                    <p class="entry">

                        {{ post.desc }}

                    </p>

                </figcaption>

            </figure>

            {% else %}

            <article>


                <figure class="portrait-card">

                    <img alt="{{post.title}}" src="/{{post.image}}" />
                    <figcaption>
                        <a class="theLink" href="{{post.url}}">{{post.title}}</a>
                    </figcaption>

                </figure>

            </article>

            {% endif %}

        {% endfor %}

    </section>

</section>