*{margin: 0; padding: 0; color:inherit;}

html{
	font-family: "Open Sans", "Trebuchet MS", Helvetica, sans-serif; color: #444; background-color: #fff;
}
body{position: relative; min-height: 100vh; background: url('Standard Assets/background.png'); overflow-x: hidden;}

p{text-indent: 15px;}
img{max-width: 100%;}
h2{font-size: 1.25em;}
a{text-decoration: none;}
dt{margin-top: 15px;}
dd{margin: 0 0 0 50px;}

header{padding: 15px 0; color: #444; background-color: #fff;}
	header .home-button{padding-left: 10%; font-size: 3em;}
		header .home-button .emphasize{color: #00aeff; font-weight: 900;}
		header .home-button:hover .emphasize{color: #000;}
	header a:not(.home-button){padding: 15px; font-size: 20px;}
	header a:not(.home-button)#current-page{color: #fff; background-color: #444;}
	header a:hover{color: #00aeff;}
	header .float-left{float: left;}
	header .float-right{float: right; padding-right: 10%;}

body.no-js header > nav{display: none;}
main{padding-bottom: 50px;}

footer{position: absolute; left: 0; bottom: 0; width: 100vw; padding: 15px 0; color: #fff; text-align: center; background-color: #222;}
	footer .flex-container a{padding: 0 10px; text-indent: 0;}
		footer .flex-container a:hover{color: #00aeff;}

.content h1{padding: 50px 10% 25px 10%; font-size: 2em; color: #444;}
		
.content section{width: 100vw; text-align: center;}
.content .linkbox{display: inline-block; width: 20%; min-width: 300px; margin: 0 1% 1% 1%; opacity: 0.9;}
	.content section .linkbox:hover{color: #00aeff; opacity: 1;}
	.content .linkbox article{position: relative;}
		.content .linkbox article figcaption{font-size: 1.5em; text-align: left;}

#homepage > p{width: 60%; margin: 0 auto; padding: 0 0 50px 0; font-size: 1.5em; font-weight: 100;}
	#homepage > p a{color: #00aeff; font-weight: 550;}
	#homepage > p a:hover{text-decoration: underline;}
	#homepage .linkbox{width: 25%}

#more{text-align: center;}
#more div{display: inline-block; width: 30%; min-width: 300px; padding: 0 15px 50px 15px; vertical-align: top; text-align: left;}
#more dt{font-weight: 900;}
#more progress{display: block; width: 100%;}
#more a.icon{width: 15%; text-align: center;}
#more a.icon:hover{color: #00aeff;}
#more #twitter-thing{display: inline-block; padding: 0 15px}
#more iframe[id^='twitter-widget-0'] {width: 50%; height: 60vh !important}
#more .makeMeBlu{color: #00aeff;}

#error404 figure{text-align: center;}
#error404 figure figcaption{padding: 2.5% 0; font-size: 1.25em;}
	#error404 figure p a{color: #00aeff;}
#error404 figure img{padding-top: 20px;}

.post.content h1{padding: 50px 0 0 20%;}
.post.content h2{padding: 15px 0 50px 20%;}
.post-content{width: 60%; margin: auto; font-size: 1.25em;}
.post-content p{text-indent: 0;}
.post #disqus_thread{width: 60%; padding-top: 50px; margin: auto;}

/* OTHER STUFF */

@media only screen and (max-width: 800px){
	#homepage .linkbox{width: 80%;}

	.content section .linkbox{display: block; width: 100%; max-width: 512px; margin: 15px auto;}
}

@media only screen and (max-width: 1024px){
	#homepage > p{width: 80%;}
	#more div{width: 80%}
}

@media only screen and (orientation: portrait){
	.landscape-only{display: none;}
	.portrait-only{display: initial;}

	header .home-button{display: block; padding: 0 0 15px 0; text-align: center;}
	header .float-right{float: initial; display: block; padding-top: 15px;}
	header a:not(.home-button){padding: 15px 10px; font-size: 20px;}

	.content h1{margin: 0;}

	#homepage > p{width: 90%; font-size: 1.25em;}
	#homepage .linkbox{width: 80%;}
		
	.content section .linkbox{display: block; width: 80%; max-width: 512px; margin: 0 auto 50px auto;}
}